Repository mbogner/poi-distance, changes with the labels that .github/labeler.yml gives for each.
All labels: legal, docs, projectconfig, gradle-wrapper, gradle

add some comments and fix minor problems
  src/main/kotlin/at/oebb/bsk/AbstractPOIService.kt
  src/main/kotlin/at/oebb/bsk/POIService.kt
  src/main/kotlin/at/oebb/bsk/POIServiceJson.kt
  src/main/kotlin/at/oebb/bsk/model/POI.kt
  src/main/kotlin/at/oebb/bsk/model/POIModel.kt
  src/main/kotlin/at/oebb/bsk/util/RessourceUtil.kt
Labels: none

use my namespace
  src/main/kotlin/at/oebb/bsk/model/POI.kt
  src/main/kotlin/dev/mbo/poi/AbstractPOIService.kt
  src/main/kotlin/dev/mbo/poi/POIService.kt
  src/main/kotlin/dev/mbo/poi/POIServiceJson.kt
  src/main/kotlin/dev/mbo/poi/model/Coordinate.kt
  src/main/kotlin/dev/mbo/poi/model/POI.kt
  src/main/kotlin/dev/mbo/poi/model/POIModel.kt
  src/main/kotlin/dev/mbo/poi/util/RessourceUtil.kt
  src/test/kotlin/dev/mbo/poi/POIGenerator.kt
  src/test/kotlin/dev/mbo/poi/POIServiceJsonTest.kt
  src/test/kotlin/dev/mbo/poi/model/CoordinateTest.kt
  src/test/kotlin/dev/mbo/poi/model/POITest.kt
  src/test/kotlin/dev/mbo/poi/util/RandomNumberUtil.kt
  src/test/kotlin/dev/mbo/poi/util/RessourceUtilTest.kt
Labels: none

ignore tmp folder
  .gitignore
Labels: projectconfig

update for changed data format and also check validity time
  README.md
  build.gradle.kts
  src/main/kotlin/dev/mbo/poi/AbstractPOIService.kt
  src/main/kotlin/dev/mbo/poi/POIService.kt
  src/main/kotlin/dev/mbo/poi/POIServiceJson.kt
  src/main/kotlin/dev/mbo/poi/model/Feature.kt
  src/main/kotlin/dev/mbo/poi/model/FeatureProperties.kt
  src/main/kotlin/dev/mbo/poi/model/Model.kt
  src/test/kotlin/dev/mbo/poi/POIGenerator.kt
  src/test/kotlin/dev/mbo/poi/POIServiceJsonTest.kt
  src/test/kotlin/dev/mbo/poi/model/CoordinateTest.kt
  src/test/kotlin/dev/mbo/poi/model/POITest.kt
  src/test/kotlin/dev/mbo/poi/util/RessourceUtilTest.kt
Labels: docs, gradle

update with data from oebb open data
  .gitignore
  README.md
  src/main/kotlin/dev/mbo/poi/AbstractPOIService.kt
  src/main/kotlin/dev/mbo/poi/POIService.kt
  src/main/kotlin/dev/mbo/poi/POIServiceJson.kt
  src/main/kotlin/dev/mbo/poi/util/RessourceUtil.kt
  src/test/kotlin/dev/mbo/poi/POIServiceJsonTest.kt
  src/test/kotlin/dev/mbo/poi/util/RandomNumberUtil.kt
  src/test/kotlin/dev/mbo/poi/util/RessourceUtilTest.kt
  src/test/resources/GIP_PV_STOPS_EU-DEL-V-20220627.json
  src/test/resources/generated.json
Labels: docs, projectconfig

add DB640_CODE
  src/main/kotlin/dev/mbo/poi/model/FeatureProperties.kt
Labels: none

update readme
  README.md
Labels: docs

update readme
  README.md
Labels: docs

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

.github/labeler.yml:

legal:
  - LICENSE.txt
docs:
  - README.md
  - docs/**/*
projectconfig:
  - .editorconfig
  - .github
  - .gitignore
  - .foldableview
gradle-wrapper:
  - .gradle/**/*
  - gradle
  - gradle.bat
gradle: "**/build.gradle.kts"
